@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap');
 *{
    
    font-family: "Share Tech", sans-serif;
   
 }
 
 body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
      /*tabs de formulario e afins*/
      .tab{
       display: none;
      }

       .tab.active {
       display: block;
      }

      .tabs{
        display: flex;
        gap: 0.5rem;            
        padding: 0.5rem;       
        border-radius: 0.5rem; 
      }

      .tabs button {
        flex: 1;                    
        border: 2px solid #ddd;      
        border-radius: 0.5rem;       
        padding: 0.75rem 1rem;      
        font-size: 1rem; 
        cursor: pointer;
        transition: 
        background 0.2s ease, 
        border-color 0.2s ease, 
        transform 0.1s ease;
        }
        
        .botao_sair{
          text-align: right;
          margin: 20px;
        }

        .botao_sair 

  
    

    .botao-editar:hover {
        background-color:rgb(21, 7, 112);
    }

        
        /*divisoria campos*/
        fieldset {
         border: 2px solid white;
         border-radius: 10px;
         padding: 20px;
         width: 100%;
         max-width: 900px; 
         background-color: #111;
        }

      .campos_preenchimento {
       display: grid;
       grid-template-columns: 1fr;
       gap: 15px;
    }

      .campos_preenchimento label {
        display: flex;
        margin-bottom: 5px;
        }

      .campos_preenchimento input {
       padding: 5px;
       border: 1px solid #ccc;
       border-radius: 5px;
       background-color: #ffffff;
       margin-bottom: 20px;
      }

      .campos_preenchimento select{
        height: 30px;
        width: 40%;
        font-size: 15px;
      }

      .pos_avl{
       height: 60px;
       margin-bottom: 10px;
      }

     .alinhamento_avl{
      margin-bottom: 10px;
     }
     
      /*divisoria campos*/
      
      .titulo{
        display: flex;
       color: rgb(255, 255, 255);
       font-size: 20px;
      }
      
      /*responsividade aparelhos móveis*/
      @media (max-width: 700px){
        body{
          padding: 10px;
          font-size: 15px;
        }

        .tabs, .tab{
          flex-direction: column;
        }

        .tabs button{
          width: 100%;
          font-size: 1rem;
        }

        fieldset{
          padding: 15px;
        }

        .titulo{
          font-size: 18px;
          justify-content: center;
          align-items: center;

        }

        .pos_avl{
      height: 60px;
      margin-bottom: 10px;
     }

     .alinhamento_avl{
      margin-bottom: 10px;
      height: 20px;
     }

     
      }