{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar histórico</title>
    <link href="{% static 'css/editar_historico.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 
    <div class= "img_logo_login">
     <a href="{% url 'instrucao:pagina_principal'%}">
     <img src="{% static 'imagens/logo1.png'%}" alt="aralco">
     </a>  
    </div>


    <h1>Editar Instrução </h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
        <button onclick="window.history.back()">Voltar</button>
    </form>

</body>
</html>