{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
  <link href="{% static 'css/design.css' %}" rel="stylesheet">

   <!--<link rel="stylesheet" href="design.css">-->

    <style>
  </style>
</head>

<body>
  {{ funcionarios|json_script:"dados-funcionarios" }}


  <div class="cont_principal">

    <div class= "img_logo">
     <img src="{% static 'imagens/logo1.png'%}" alt="aralco">
    </div>
  
    <div class= "titulo">
    <h1>Formulário de instrução</h1>
  </div>
    
    <div class="tabs">
    <button onclick="showTab(0)">Caminhão 🚛</button>
    <button onclick="showTab(1)">Colhedora 🚜</button>
    <button onclick="showTab(2)">Trator 🚜</button>
    <button onclick="showTab(3)">Ranking líder ★</button>
    <button onclick="showTab(4)">Histórico de instrução 📋</button>
  </div>
      
   <!-- Aba Caminhão --> 
    <form method="POST" action="{% url 'instrucao:coletar_dados_caminhao_forms' %}">
        {% csrf_token %}
        <div class="tab">
      <h2> Dados da instrução: Caminhão</h2>
    <fieldset>
      <div class= "campos_preenchimento">
      <label for="idata_caminhao"> Data:</label>
      <input type="date" name="data_caminhao" id="idata_caminhao" required>

      <label for="ihora_caminhao"> Hora:</label>
      <input type="time" name="hora_caminhao" id="ihora_caminhao" required>
      
      <label for="imatricula_instrutor_caminhao"> Matrícula do instrutor:</label> 
      <input type= "number" name = "matricula_instrutor_caminhao" id= "imatricula_instrutor_caminhao"/>

      <label for="inome_instrutor_caminhao"> Nome do instrutor:</label>
      <input type= "text" name = "nome_instrutor_caminhao" id= "inome_instrutor_caminhao"/>

      <label for="imatricula_condutor_caminhao"> Matrícula do condutor:</label>
      <input type= "number" name = "matricula_condutor_caminhao" id= "imatricula_condutor_caminhao"/>

      <label for="inome_condutor_caminhao"> Nome do condutor: </label>
      <input type= "text" name = "nome_condutor_caminhao" id= "inome_condutor_caminhao"/>

      <label for="iequipamento_caminhao"> Equipamento: </label>
      <input type = "number" name = "equipamento_caminhao" id= "iequipamento_caminhao"/>

      <label for="ilocal_saida_caminhao"> Local de saída: </label>
      <input type= "text" name = "local_saida_caminhao" id= "ilocal_saida_caminhao"/>

      <label for="ihora_saida_caminhao"> Hora da saída: </label>
      <input type= "time" name = "hora_saida_caminhao" id= "ihora_saida_caminhao"/>

      <label for="ikm_saida_caminhao"> Km da saída: </label>
      <input type= "text" name = "km_saida_caminhao" id= "ikm_saida_caminhao"/>

      <label for="ilocal_chegada_caminhao"> Local de chegada: </label>
      <input type= "text" name = "local_chegada_caminhao" id= "ilocal_chegada_caminhao"/>

      <label for="ihora_chegada_caminhao"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_caminhao" id= "ihora_chegada_caminhao"/>

      <label for="ikm_chegada_caminhao"> Km  da chegada: </label>
      <input type= "text" name = "km_chegada_caminhao" id= "ikm_chegada_caminhao"/>

      <label for="iviagem_caminhao"> Viagem: </label>
      <input type= "text" name = "viagem_caminhao" id= "iviagem_caminhao"/>

      <label for="imedia_caminhao"> Média: </label>
      <input type= "number" name = "media_caminhao" id= "imedia_caminhao"/> 
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Operador mantenedor:</legend>
        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "iruim_opm_caminhao" value = "ruim"> 
        <label for = "iruim_opm_caminhao"> Ruim</label>

        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "ibom_opm_caminhao" value = "bom"> 
        <label for = "ibom_opm_caminhao"> Bom</label>

        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "iotimo_opm_camihao" value = "otimo"> 
        <label for = "iotimo_opm_camihao"> Ótimo</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Digitação de bordo: </legend>
        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "iruim_digitacao_bordo_caminhao" value = "ruim"> 
        <label for = "iruim_digitacao_bordo_caminhao"> Ruim</label>

        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "ibom_digitacao_bordo_caminhao" value = "bom"> 
        <label for = "ibom_digitacao_bordo_caminhao"> Bom</label>

        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "iotimo_digitacao_bordo_caminhao" value = "otimo"> 
        <label for = "iotimo_digitacao_bordo_caminhao"> Ótimo</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Ações autorizadas:</legend>
        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "iruim_acoes_autorizadas_caminhao" value = "ruim"/> 
        <label for = "iruim_acoes_autorizadas_caminhao"> Ruim</label>

        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "ibom_acoes_autorizadas_caminhao" value = "bom"/> 
        <label for = "ibom_acoes_autorizadas_caminhao"> Bom</label>

        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "iotimo_acoes_autorizadas_caminhao" value = "otimo"/> 
        <label for = "iotimo_acoes_autorizadas_caminhao"> Ótimo</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Operação:</legend>
        <input type = "radio" name = "operacao_caminhao" id= "iruim_operacao_caminhao" value = "ruim"/> 
        <label for = "iruim_operacao_caminhao"> Ruim</label>

        <input type = "radio" name = "operacao_caminhao" id= "ibom_operacao_caminhao" value = "bom"/> 
        <label for = "ibom_operacao_caminhao"> Bom</label>

        <input type = "radio" name = "operacao_caminhao" id= "iotimo_operacao_caminhao" value = "otimo"/> 
        <label for = "iotimo_operacao_caminhao"> Ótimo</label>
      </div>
             
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Avaliação do instrutor:</legend> 
        <input type="radio" id="estrela1_caminhao" name="avaliacao_caminhao" value="1">
        <label for="estrela1_caminhao">★</label>

        <input type="radio" id="estrela2_caminhao" name="avaliacao_caminhao" value="2">
        <label for="estrela2_caminhao">★★</label>
        
        <input type="radio" id="estrela3_caminhao" name="avaliacao_caminhao" value="3">
        <label for="estrela3_caminhao">★★★</label>
        
        <input type="radio" id="estrela4_caminhao" name="avaliacao_caminhao" value="4">
        <label for="estrela4_caminhao">★★★★</label>
        
        <input type="radio" id="estrela5_caminhao" name="avaliacao_caminhao" value="5">
        <label for="estrela5_caminhao">★★★★★</label>
      </div>

            <h2> Observações </h2>
            <textarea name="observacoes"></textarea><br>
      </fieldset>

            <p>
             <input type="submit" value= "Enviar" style="margin-right: 30px; width: 100px; height: 30px; font-size: 15px;">
             <input type="reset" value="Limpar" style="width: 100px; height: 30px; font-size: 15px;">
            </p>
          
        </div>
    </form> 
  
    <!-- Aba colhedora -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_colhedora_forms' %}">
        {% csrf_token%}
    <div class="tab">
      <h2>Dados da instrução: Colhedora</h2>
    <fieldset>
       <div class= "campos_preenchimento">
      <label for="idata_colhedora"> Data:</label>
      <input type="date" name="data_colhedora" id= "idata_colhedora">

      <label for="ihora_colhedora"> Hora:</label>
      <input type="time" name="hora_colhedora" id="ihora_colhedora">

      <label for="imatricula_instrutor_colhedora"> Matrícula do instrutor: </label> 
      <input type= "number" name = "matricula_instrutor_colhedora" id= "imatricula_instrutor_colhedora"/>
      
      <label for="inome_instrutor_colhedora"> Nome do instrutor: </label> 
      <input type= "text" name = "nome_instrutor_colhedora" id= "inome_instrutor_colhedora"/>
      
      <label for="imatricula_condutor_colhedora"> Matrícula do condutor: </label>
      <input type= "number" name = "matricula_condutor_colhedora" id= "imatricula_condutor_colhedora"/>

      <label for="inome_condutor_colhedora"> Nome do condutor: </label> 
      <input type= "text" name ="nome_condutor_colhedora" id= "inome_condutor_colhedora"/>
      
      <label for="iequipamento_colhedora"> Equipamento: </label> 
      <input type="number" name="equipamento_colhedora" id="iequipamento_colhedora"/>

      <label for="ihora_saida_colhedora"> Hora da saída: </label>
      <input type="time" name="hora_saida_colhedora" id="ihora_saida_colhedora"/>

      <label for="ihora_chegada_colhedora"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_colhedora" id= "ihora_chegada_colhedora"/>

      <label for="ihorimetro_inicial_colhedora"> Horímetro inicial: </label>
      <input type="number" step="any" name="horimetro_inicial_colhedora" id="ihorimetro_inicial_colhedora"/>

      <label for="ihorimetro_final_colhedora"> Horímetro final: </label>
      <input type="number" step="any" name="horimetro_final_colhedora" id="ihorimetro_final_colhedora"/>

      <label for="ifrente_colhedora"> Frente: </label>
      <input type="number" name="frente_colhedora" id="ifrente_colhedora"/>
      </div>
        
        <div class= "pos_avl">
         <legend class="alinhamento_avl">Operador mantenedor:</legend>
         <input type="radio" id="estrela1_colhedora" name="avaliacao_operacao_mantendedor_colhedora" value="1">
         <label for="estrela1_colhedora">★</label>

         <input type="radio" id="estrela2_colhedora" name="avaliacao_operacao_mantendedor_colhedora" value="2">
         <label for="estrela2_colhedora">★★</label>
         
         <input type="radio" id="estrela3_colhedora" name="avaliacao_operacao_mantendedor_colhedora" value="3">
         <label for="estrela3_colhedora">★★★</label>
         
         <input type="radio" id="estrela4_colhedora" name="avaliacao_operacao_mantendedor_colhedora" value="4">
         <label for="estrela4_colhedora">★★★★</label>
         
         <input type="radio" id="estrela5_colhedora" name="avaliacao_operacao_mantendedor_colhedora" value="5">
         <label for="estrela5_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Digitação bordo:</legend>
         <input type="radio" id="estrela6_colhedora" name="avaliacao_digitacao_bordo_colhedora" value="1">
         <label for="estrela6_colhedora">★</label>

         <input type="radio" id="estrela7_colhedora" name="avaliacao_digitacao_bordo_colhedora" value="2">
         <label for="estrela7_colhedora">★★</label>

         <input type="radio" id="estrela8_colhedora" name="avaliacao_digitacao_bordo_colhedora" value="3">
         <label for="estrela8_colhedora">★★★</label>

         <input type="radio" id="estrela9_colhedora" name="avaliacao_digitacao_bordo_colhedora" value="4">
         <label for="estrela9_colhedora">★★★★</label>
 
         <input type="radio" id="estrela10_colhedora" name="avaliacao_digitacao_bordo_colhedora" value="5">
         <label for="estrela10_colhedora">★★★★★</label>
        </div>
        
        <div class= "pos_avl">
         <legend class="alinhamento_avl">Ações autorizadas:</legend>
         <input type="radio" id="estrela11_colhedora" name="avaliacao_acoes_autorizadas_colhedora" value="1">
         <label for="estrela11_colhedora">★</label>

         <input type="radio" id="estrela12_colhedora" name="avaliacao_acoes_autorizadas_colhedora" value="2">
         <label for="estrela12_colhedora">★★</label>

         <input type="radio" id="estrela13_colhedora" name="avaliacao_acoes_autorizadas_colhedora" value="3">
         <label for="estrela13_colhedora">★★★</label>

         <input type="radio" id="estrela14_colhedora" name="avaliacao_acoes_autorizadas_colhedora" value="4">
         <label for="estrela14_colhedora">★★★★</label>

         <input type="radio" id="estrela15_colhedora" name="avaliacao_acoes_autorizadas_colhedora" value="5">
         <label for="estrela15_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Operação:</legend>
         <input type="radio" id="estrela16_colhedora" name="avaliacao_operacao_colhedora" value="1">
         <label for="estrela16_colhedora">★</label>

         <input type="radio" id="estrela17_colhedora" name="avaliacao_operacao_colhedora" value="2">
         <label for="estrela17_colhedora">★★</label>

         <input type="radio" id="estrela18_colhedora" name="avaliacao_operacao_colhedora" value="3">
         <label for="estrela18_colhedora">★★★</label>

         <input type="radio" id="estrela19_colhedora" name="avaliacao_operacao_colhedora" value="4">
         <label for="estrela19_colhedora">★★★★</label>

         <input type="radio" id="estrela20_colhedora" name="avaliacao_operacao_colhedora" value="5">
         <label for="estrela20_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Pressão do corte base:</legend>
         <input type="radio" id="estrela21_colhedora" name="avaliacao_pressao_corte_base_colhedora" value="1">
         <label for="estrela21_colhedora">★</label>

         <input type="radio" id="estrela22_colhedora" name="avaliacao_pressao_corte_base_colhedora" value="2">
         <label for="estrela22_colhedora">★★</label>

         <input type="radio" id="estrela23_colhedora" name="avaliacao_pressao_corte_base_colhedora" value="3">
         <label for="estrela23_colhedora">★★★</label>

         <input type="radio" id="estrela24_colhedora" name="avaliacao_pressao_corte_base_colhedora" value="4">
         <label for="estrela24_colhedora">★★★★</label>

         <input type="radio" id="estrela25_colhedora" name="avaliacao_pressao_corte_base_colhedora" value="5">
         <label for="estrela25_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Pressão do picador:</legend>
         <input type="radio" id="estrela26_colhedora" name="avaliacao_pressao_picador_colhedora" value="1">
         <label for="estrela26_colhedora">★</label>

         <input type="radio" id="estrela27_colhedora" name="avaliacao_pressao_picador_colhedora" value="2">
         <label for="estrela27_colhedora">★★</label>

         <input type="radio" id="estrela28_colhedora" name="avaliacao_pressao_picador_colhedora" value="3">
         <label for="estrela28_colhedora">★★★</label>

         <input type="radio" id="estrela29_colhedora" name="avaliacao_pressao_picador_colhedora" value="4">
         <label for="estrela29_colhedora">★★★★</label>

         <input type="radio" id="estrela30_colhedora" name="avaliacao_pressao_picador_colhedora" value="5">
         <label for="estrela30_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Configuração (CB central):</legend>
         <input type="radio" id="estrela31_colhedora" name="avaliacao_configuracao_cb_colhedora" value="1">
         <label for="estrela31_colhedora">★</label>

         <input type="radio" id="estrela32_colhedora" name="avaliacao_configuracao_cb_colhedora" value="2">
         <label for="estrela32_colhedora">★★</label>

         <input type="radio" id="estrela33_colhedora" name="avaliacao_configuracao_cb_colhedora" value="3">
         <label for="estrela33_colhedora">★★★</label>

         <input type="radio" id="estrela34_colhedora" name="avaliacao_configuracao_cb_colhedora" value="4">
         <label for="estrela34_colhedora">★★★★</label>

         <input type="radio" id="estrela35_colhedora" name="avaliacao_configuracao_cb_colhedora" value="5">
         <label for="estrela35_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Sincronismo transbordo:</legend>
         <input type="radio" id="estrela36_colhedora" name="avaliacao_sincronismo_transbordo_colhedora" value="1">
         <label for="estrela36_colhedora">★</label>

         <input type="radio" id="estrela37_colhedora" name="avaliacao_sincronismo_transbordo_colhedora" value="2">
         <label for="estrela37_colhedora">★★</label>

         <input type="radio" id="estrela38_colhedora" name="avaliacao_sincronismo_transbordo_colhedora" value="3">
         <label for="estrela38_colhedora">★★★</label>

         <input type="radio" id="estrela39_colhedora" name="avaliacao_sincronismo_transbordo_colhedora" value="4">
         <label for="estrela39_colhedora">★★★★</label>

         <input type="radio" id="estrela40_colhedora" name="avaliacao_sincronismo_transbordo_colhedora" value="5">
         <label for="estrela40_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Velocidade constante:</legend>
         <input type="radio" id="estrela41_colhedora" name="avaliacao_velocidade_constante_colhedora" value="1">
         <label for="estrela41_colhedora">★</label>

         <input type="radio" id="estrela42_colhedora" name="avaliacao_velocidade_constante_colhedora" value="2">
         <label for="estrela42_colhedora">★★</label>

         <input type="radio" id="estrela43_colhedora" name="avaliacao_velocidade_constante_colhedora" value="3">
         <label for="estrela43_colhedora">★★★</label>

         <input type="radio" id="estrela44_colhedora" name="avaliacao_velocidade_constante_colhedora" value="4">
         <label for="estrela44_colhedora">★★★★</label>

         <input type="radio" id="estrela45_colhedora" name="avaliacao_velocidade_constante_colhedora" value="5">
         <label for="estrela45_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Utilização de tecnologia:</legend>
         <input type="radio" id="estrela46_colhedora" name="avaliacao_utilizacao_tecnologia_colhedora" value="1">
         <label for="estrela46_colhedora">★</label>

         <input type="radio" id="estrela47_colhedora" name="avaliacao_utilizacao_tecnologia_colhedora" value="2">
         <label for="estrela47_colhedora">★★</label>

         <input type="radio" id="estrela48_colhedora" name="avaliacao_utilizacao_tecnologia_colhedora" value="3">
         <label for="estrela48_colhedora">★★★</label>

         <input type="radio" id="estrela49_colhedora" name="avaliacao_utilizacao_tecnologia_colhedora" value="4">
         <label for="estrela49_colhedora">★★★★</label>

         <input type="radio" id="estrela50_colhedora" name="avaliacao_utilizacao_tecnologia_colhedora" value="5">
         <label for="estrela50_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Senso de dono:</legend>
         <input type="radio" id="estrela51_colhedora" name="avaliacao_senso_de_dono_colhedora" value="1">
         <label for="estrela51_colhedora">★</label>

         <input type="radio" id="estrela52_colhedora" name="avaliacao_senso_de_dono_colhedora" value="2">
         <label for="estrela52_colhedora">★★</label>

         <input type="radio" id="estrela53_colhedora" name="avaliacao_senso_de_dono_colhedora" value="3">
         <label for="estrela53_colhedora">★★★</label>

         <input type="radio" id="estrela54_colhedora" name="avaliacao_senso_de_dono_colhedora" value="4">
         <label for="estrela54_colhedora">★★★★</label>

         <input type="radio" id="estrela55_colhedora" name="avaliacao_senso_de_dono_colhedora" value="5">
         <label for="estrela55_colhedora">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Avaliação geral do instrutor:</legend>
         <input type="radio" id="estrela56_colhedora" name="avaliacao_geral_instrutor_colhedora" value="1">
         <label for="estrela56_colhedora">★</label>

         <input type="radio" id="estrela57_colhedora" name="avaliacao_geral_instrutor_colhedora" value="2">
         <label for="estrela57_colhedora">★★</label>

         <input type="radio" id="estrela58_colhedora" name="avaliacao_geral_instrutor_colhedora" value="3">
         <label for="estrela58_colhedora">★★★</label>

         <input type="radio" id="estrela59_colhedora" name="avaliacao_geral_instrutor_colhedora" value="4">
         <label for="estrela59_colhedora">★★★★</label>

         <input type="radio" id="estrela60_colhedora" name="avaliacao_geral_instrutor_colhedora" value="5">
         <label for="estrela60_colhedora">★★★★★</label>
        </div>

            <h2> Observações </h2>
            <textarea name="observacoes"></textarea><br>
      </fieldset>

            <p>
             <input type="submit" value= "Enviar" style="margin-right: 30px; width: 100px; height: 30px; font-size: 15px;">
             <input type="reset" value= "Limpar" style="width: 100px; height: 30px; font-size: 15px;">
            </p>
          </div>
    </form>

    
    
    <!-- Aba trator -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_trator_forms' %}">
        {% csrf_token %}
    <div class="tab">
      <h2>Dados de instrução: Trator</h2>

      <fieldset>
        <div class= "campos_preenchimento">
      <label for="idata_trator">Data:</label>
      <input type="date" name="data_trator" id="idata_trator">

      <label for="ihora_trator">Hora:</label>
      <input type="time" name="hora_trator" id="ihora_trator">

      <label for="imatricula_instrutor_trator"> Matrícula do instrutor:</label>
      <input type= "number" name = "matricula_instrutor_trator" id= "imatricula_instrutor_trator"/>

      <label for="inome_instrutor_trator">Nome do instrutor: </label>
      <input type= "text" name = "nome_instrutor_trator" id= "inome_instrutor_trator"/>
      
      <label for="imatricula_condutor_trator">Matrícula do condutor: </label>
      <input type= "number" name = "matricula_condutor_trator" id= "imatricula_condutor_trator"/>
      
      <label for="inome_condutor_trator"> Nome do condutor: </label>
      <input type= "text" name = "nome_condutor_trator" id= "inome_condutor_trator"/>
       
      <label for="id_equipamento_trator">Equipamento:</label>
      <input type="number" name="equipamento_trator" id="id_equipamento_trator" required>
      
      <label for="ilocal_saida_trator"> Local de saída: </label>
      <input type= "text" name = "local_saida_trator" id= "ilocal_saida_trator"/>
      
      <label for="ihora_saida_trator"> Hora da saída: </label>
      <input type= "time" name = "hora_saida_trator" id= "ihora_saida_trator"/>
      
      <label for="ilocal_chegada_trator"> Local de chegada:</label> 
      <input type= "text" name = "local_chegada_trator" id= "ilocal_chegada_trator"/>

      <label for="ihora_chegada_trator"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_trator" id= "ihora_chegada_trator"/>

      <label for="ihorimetro_inicial_trator"> Horímetro inicial </label>
      <input type= "number" name= "horimetro_inicial_trator" id= "ihorimetro_inicial_trator"/>

      <label for="ihorimetro_final_trator"> Horímetro final: </label> 
      <input type = "number" name = "horimetro_final_trator" id= "ihorimetro_final_trator"/>
      </div> 

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Operador mantenedor:</legend>
         <input type="radio" id="estrela1_trator" name="avaliacao_operador_mantenedor_trator" value="1">
         <label for="estrela1_trator">★</label>

         <input type="radio" id="estrela2_trator" name="avaliacao_operador_mantenedor_trator" value="2">
         <label for="estrela2_trator">★★</label>

         <input type="radio" id="estrela3_trator" name="avaliacao_operador_mantenedor_trator" value="3">
         <label for="estrela3_trator">★★★</label>

         <input type="radio" id="estrela4_trator" name="avaliacao_operador_mantenedor_trator" value="4">
         <label for="estrela4_trator">★★★★</label>

         <input type="radio" id="estrela5_trator" name="avaliacao_operador_mantenedor_trator" value="5">
         <label for="estrela5_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Digitação bordo:</legend>
         <input type="radio" id="estrela6_trator" name="avaliacao_digitacao_bordo_trator" value="1">
         <label for="estrela6_trator">★</label>

         <input type="radio" id="estrela7_trator" name="avaliacao_digitacao_bordo_trator" value="2">
         <label for="estrela7_trator">★★</label>

         <input type="radio" id="estrela8_trator" name="avaliacao_digitacao_bordo_trator" value="3">
         <label for="estrela8_trator">★★★</label>

         <input type="radio" id="estrela9_trator" name="avaliacao_digitacao_bordo_trator" value="4">
         <label for="estrela9_trator">★★★★</label>

         <input type="radio" id="estrela10_trator" name="avaliacao_digitacao_bordo_trator" value="5">
         <label for="estrela10_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Ações autorizadas:</legend>
         <input type="radio" id="estrela11_trator" name="avaliacao_acoes_autorizadas_trator" value="1">
         <label for="estrela11_trator">★</label>

         <input type="radio" id="estrela12_trator" name="avaliacao_acoes_autorizadas_trator" value="2">
         <label for="estrela12_trator">★★</label>

         <input type="radio" id="estrela13_trator" name="avaliacao_acoes_autorizadas_trator" value="3">
         <label for="estrela13_trator">★★★</label>

         <input type="radio" id="estrela14_trator" name="avaliacao_acoes_autorizadas_trator" value="4">
         <label for="estrela14_trator">★★★★</label>

         <input type="radio" id="estrela15_trator" name="avaliacao_acoes_autorizadas_trator" value="5">
         <label for="estrela15_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Operação:</legend>
         <input type="radio" id="estrela16_trator" name="avaliacao_operacao_trator" value="1">
         <label for="estrela16_trator">★</label>

         <input type="radio" id="estrela17_trator" name="avaliacao_operacao_trator" value="2">
         <label for="estrela17_trator">★★</label>

         <input type="radio" id="estrela18_trator" name="avaliacao_operacao_trator" value="3">
         <label for="estrela18_trator">★★★</label>

         <input type="radio" id="estrela19_trator" name="avaliacao_operacao_trator" value="4">
         <label for="estrela19_trator">★★★★</label>

         <input type="radio" id="estrela20_trator" name="avaliacao_operacao_trator" value="5">
         <label for="estrela20_trator">★★★★★</label>
        </div>
        
        <div class= "pos_avl">
         <legend class="alinhamento_avl">Avaliação do instrutor:</legend>
         <input type="radio" id="estrela21_trator" name="avaliacao_instrutor_trator" value="1">
         <label for="estrela21_trator">★</label>

         <input type="radio" id="estrela22_trator" name="avaliacao_instrutor_trator" value="2">
         <label for="estrela22_trator">★★</label>

         <input type="radio" id="estrela23_trator" name="avaliacao_instrutor_trator" value="3">
         <label for="estrela23_trator">★★★</label>

         <input type="radio" id="estrela24_trator" name="avaliacao_instrutor_trator" value="4">
         <label for="estrela24_trator">★★★★</label>

         <input type="radio" id="estrela25_trator" name="avaliacao_instrutor_trator" value="5">
         <label for="estrela25_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Rotações:</legend>
         <input type="radio" id="estrela26_trator" name="avaliacao_rotacoes_trator" value="1">
         <label for="estrela26_trator">★</label>

         <input type="radio" id="estrela27_trator" name="avaliacao_rotacoes_trator" value="2">
         <label for="estrela27_trator">★★</label>

         <input type="radio" id="estrela28_trator" name="avaliacao_rotacoes_trator" value="3">
         <label for="estrela28_trator">★★★</label>

         <input type="radio" id="estrela29_trator" name="avaliacao_rotacoes_trator" value="4">
         <label for="estrela29_trator">★★★★</label>

         <input type="radio" id="estrela30_trator" name="avaliacao_rotacoes_trator" value="5">
         <label for="estrela30_trator">★★★★★</label>
        </div> 

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Senso de dono:</legend>
         <input type="radio" id="estrela31_trator" name="avaliacao_senso_dono_trator" value="1">
         <label for="estrela31_trator">★</label>

         <input type="radio" id="estrela32_trator" name="avaliacao_senso_dono_trator" value="2">
         <label for="estrela32_trator">★★</label>

         <input type="radio" id="estrela33_trator" name="avaliacao_senso_dono_trator" value="3">
         <label for="estrela33_trator">★★★</label>

         <input type="radio" id="estrela34_trator" name="avaliacao_senso_dono_trator" value="4">
         <label for="estrela34_trator">★★★★</label>

         <input type="radio" id="estrela35_trator" name="avaliacao_senso_dono_trator" value="5">
         <label for="estrela35_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Troca de marcha:</legend>
         <input type="radio" id="estrela36_trator" name="avaliacao_troca_marcha_trator" value="1">
         <label for="estrela36_trator">★</label>

         <input type="radio" id="estrela37_trator" name="avaliacao_troca_marcha_trator" value="2">
         <label for="estrela37_trator">★★</label>

         <input type="radio" id="estrela38_trator" name="avaliacao_troca_marcha_trator" value="3">
         <label for="estrela38_trator">★★★</label>

         <input type="radio" id="estrela39_trator" name="avaliacao_troca_marcha_trator" value="4">
         <label for="estrela39_trator">★★★★</label>

         <input type="radio" id="estrela40_trator" name="avaliacao_troca_marcha_trator" value="5">
         <label for="estrela40_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Troca de embreagem:</legend>
         <input type="radio" id="estrela41_trator" name="avaliacao_troca_embreagem_trator" value="1">
         <label for="estrela41_trator">★</label>

         <input type="radio" id="estrela42_trator" name="avaliacao_troca_embreagem_trator" value="2">
         <label for="estrela42_trator">★★</label>

         <input type="radio" id="estrela43_trator" name="avaliacao_troca_embreagem_trator" value="3">
         <label for="estrela43_trator">★★★</label>
        
         <input type="radio" id="estrela44_trator" name="avaliacao_troca_embreagem_trator" value="4">
         <label for="estrela44_trator">★★★★</label>
        
         <input type="radio" id="estrela45_trator" name="avaliacao_troca_embreagem_trator" value="5">
         <label for="estrela45_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Velocidade constante:</legend>
         <input type="radio" id="estrela46_trator" name="avaliacao_velocidade_constante_trator" value="1">
         <label for="estrela46_trator">★</label>
        
         <input type="radio" id="estrela47_trator" name="avaliacao_velocidade_constante_trator" value="2">
         <label for="estrela47_trator">★★</label>
        
         <input type="radio" id="estrela48_trator" name="avaliacao_velocidade_constante_trator" value="3">
         <label for="estrela48_trator">★★★</label>
        
         <input type="radio" id="estrela49_trator" name="avaliacao_velocidade_constante_trator" value="4">
         <label for="estrela49_trator">★★★★</label>
        
         <input type="radio" id="estrela50_trator" name="avaliacao_velocidade_constante_trator" value="5">
         <label for="estrela50_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Sincronismo colhedora:</legend>
         <input type="radio" id="estrela51_trator" name="avaliacao_sincronismo_colheora_trator" value="1">
         <label for="estrela51_trator">★</label>
        
         <input type="radio" id="estrela52_trator" name="avaliacao_sincronismo_colheora_trator" value="2">
         <label for="estrela52_trator">★★</label>
        
         <input type="radio" id="estrela53_trator" name="avaliacao_sincronismo_colheora_trator" value="3">
         <label for="estrela53_trator">★★★</label>
        
         <input type="radio" id="estrela54_trator" name="avaliacao_sincronismo_colheora_trator" value="4">
         <label for="estrela54_trator">★★★★</label>
        
         <input type="radio" id="estrela55_trator" name="avaliacao_sincronismo_colheora_trator" value="5">
         <label for="estrela55_trator">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Paralelismo:</legend>
         <input type="radio" id="estrela56_trator" name="avaliacao_paralelismo_trator" value="1">
         <label for="estrela56_trator">★</label>
        
         <input type="radio" id="estrela57_trator" name="avaliacao_paralelismo_trator" value="2">
         <label for="estrela57_trator">★★</label>
        
         <input type="radio" id="estrela58_trator" name="avaliacao_paralelismo_trator" value="3">
         <label for="estrela58_trator">★★★</label>
        
         <input type="radio" id="estrela59_trator" name="avaliacao_paralelismo_trator" value="4">
         <label for="estrela59_trator">★★★★</label>
        
         <input type="radio" id="estrela60_trator" name="avaliacao_paralelismo_trator" value="5">
         <label for="estrela60_trator">★★★★★</label>
        </div>

            <h2> Observações </h2>
            <textarea name="observacoes"></textarea><br>
        </fieldset>

          <p>
            <input type="submit" value= "Enviar" style="margin-right: 30px; width: 100px; height: 30px; font-size: 15px;">
            <input type="reset" value= "Limpar"style= "width: 100px; height: 30px; font-size: 15px;">
          </p>
    </div>
    </form>

    <!-- Aba lider -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_lider_forms' %}">
        {% csrf_token %}
      <div class="tab">
      <h2>Dados da instrução: Ranking Líder</h2>
      <fieldset>
        <div class= "campos_preenchimento">
      <label for="idata_lider"> Data:</label>
      <input type="date" name="data_lider" id="idata_lider">

      <label for"ihora_lider"> Hora:</label>
      <input type="time" name="hora_lider" id="idata_lider">

      <label for="imatricula_instrutor_lider"> Matrícula do instrutor: </label>
      <input type= "number" name = "matricula_instrutor_lider" id= "imatricula_instrutor_lider"/>

      <label for="inome_instrutor_lider"> Nome do instrutor: </label>
      <input type= "text" name = "nome_instrutor_lider" id= "inome_instrutor_lider"/>

      <label for="matricula_do_lider"> Matrícula do líder: </label>
      <input type= "number" name = "matricula_do_lider" id= "imatricula_do_lider"/>

      <label for="inome_do_lider"> Nome do líder:</label>
      <input type= "text" name = "nome_do_lider" id= "inome_do_lider"/>

      <label for="ifrente_lider"> Frente:</label>
      <input type= "number" name = "frente_lider" id= "ifrente_lider"/>

      <label for="ifazenda_lider"> Fazenda: </label>
      <input type= "text" name = "fazenda_lider" id= "ifazenda_lider"/>

      <label for="iunidade_lider"> Unidade: </label>
      <input type= "number" name = "unidade_lider" id= "iunidade_lider"/>
      </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Organização da área de transbordamento:</legend>
         <input type="radio" id="estrela1_lider" name="avaliacao_organizacao_area_trasnbordamento_lider" value="1">
         <label for="estrela1_lider">★</label>
        
         <input type="radio" id="estrela2_lider" name="avaliacao_organizacao_area_trasnbordamento_lider" value="2">
         <label for="estrela2_lider">★★</label>
        
         <input type="radio" id="estrela3_lider" name="avaliacao_organizacao_area_trasnbordamento_lider" value="3">
         <label for="estrela3_lider">★★★</label>
        
         <input type="radio" id="estrela4_lider" name="avaliacao_organizacao_area_trasnbordamento_lider" value="4">
         <label for="estrela4_lider">★★★★</label>
        
         <input type="radio" id="estrela5_lider" name="avaliacao_organizacao_area_trasnbordamento_lider" value="5">
         <label for="estrela5_lider">★★★★★</label>
        </div>
         
        <div class= "pos_avl">
         <legend class="alinhamento_avl">Abertura de aceiros - distribuição das colhedoras:</legend>
         <input type="radio" id="estrela6_lider" name="avaliacao_abertura_aceiros_lider" value="1">
         <label for="estrela6_lider">★</label>
         
         <input type="radio" id="estrela7_lider" name="avaliacao_abertura_aceiros_lider" value="2">
         <label for="estrela7_lider">★★</label>
        
         <input type="radio" id="estrela8_lider" name="avaliacao_abertura_aceiros_lider" value="3">
         <label for="estrela8_lider">★★★</label>
        
         <input type="radio" id="estrela9_lider" name="avaliacao_abertura_aceiros_lider" value="4">
         <label for="estrela9_lider">★★★★</label>
        
         <input type="radio" id="estrela10_lider" name="avaliacao_abertura_aceiros_lider" value="5">
         <label for="estrela10_lider">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Produção - Tempo de carregamento por metros lineares:</legend>
         <input type="radio" id="estrela11_lider" name="avaliacao_tempo_carregamento_metros_lineares_lider" value="1">
         <label for="estrela11_lider">★</label>
        
         <input type="radio" id="estrela12_lider" name="avaliacao_tempo_carregamento_metros_lineares_lider" value="2">
         <label for="estrela12_lider">★★</label>
        
         <input type="radio" id="estrela13_lider" name="avaliacao_tempo_carregamento_metros_lineares_lider" value="3">
         <label for="estrela13_lider">★★★</label>
        
         <input type="radio" id="estrela14_lider" name="avaliacao_tempo_carregamento_metros_lineares_lider" value="4">
         <label for="estrela14_lider">★★★★</label>
        
         <input type="radio" id="estrela15_lider" name="avaliacao_tempo_carregamento_metros_lineares_lider" value="5">
         <label for="estrela15_lider">★★★★★</label>
        </div>
      
        <div class= "pos_avl">
         <legend class="alinhamento_avls">Qualidade de colheita - Vegetal - Mineral - Altura do corte:</legend>
         <input type="radio" id="estrela16_lider" name="avaliacao_qualidade_colheita_lider" value="1">
         <label for="estrela16_lider">★</label>
        
         <input type="radio" id="estrela17_lider" name="avaliacao_qualidade_colheita_lider" value="2">
         <label for="estrela17_lider">★★</label>
        
         <input type="radio" id="estrela18_lider" name="avaliacao_qualidade_colheita_lider" value="3">
         <label for="estrela18_lider">★★★</label>

         <input type="radio" id="estrela19_lider" name="avaliacao_qualidade_colheita_lider" value="4">
         <label for="estrela19_lider">★★★★</label>
        
         <input type="radio" id="estrela20_lider" name="avaliacao_qualidade_colheita_lider" value="5">
         <label for="estrela20_lider">★★★★★</label>
        </div>
             
        <div class= "pos_avl">
         <legend class="alinhamento_avl">Aproveitamento do tempo da colhedora:</legend>
         <input type="radio" id="estrela21_lider" name="avaliacao_aproveitamento_tempo_colhedora" value="1">
         <label for="estrela21_lider">★</label>
        
         <input type="radio" id="estrela22_lider" name="avaliacao_aproveitamento_tempo_colhedora" value="2">
         <label for="estrela22_lider">★★</label>
        
         <input type="radio" id="estrela23_lider" name="avaliacao_aproveitamento_tempo_colhedora" value="3">
         <label for="estrela23_lider">★★★</label>
        
         <input type="radio" id="estrela24_lider" name="avaliacao_aproveitamento_tempo_colhedora" value="4">
         <label for="estrela24_lider">★★★★</label>
        
         <input type="radio" id="estrela25_lider" name="avaliacao_aproveitamento_tempo_colhedora" value="5">
         <label for="estrela25_lider">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Liderança com equipe:</legend>
         <input type="radio" id="estrela26_lider" name="avaliacao_lideranca_equipe" value="1">
         <label for="estrela26_lider">★</label>
        
         <input type="radio" id="estrela27_lider" name="avaliacao_lideranca_equipe" value="2">
         <label for="estrela27_lider">★★</label>
        
         <input type="radio" id="estrela28_lider" name="avaliacao_lideranca_equipe" value="3">
         <label for="estrela28_lider">★★★</label>
        
         <input type="radio" id="estrela29_lider" name="avaliacao_lideranca_equipe" value="4">
         <label for="estrela29_lider">★★★★</label>
        
         <input type="radio" id="estrela30_lider" name="avaliacao_lideranca_equipe" value="5">
         <label for="estrela30_lider">★★★★★</label>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Avaliação final do instrutor:</legend>
         <input type="radio" id="estrela31_lider" name="avaliacao_final_instrutor" value="1">
         <label for="estrela31_lider">★</label>
        
         <input type="radio" id="estrela32_lider" name="avaliacao_final_instrutor" value="2">
         <label for="estrela32_lider">★★</label>
        
         <input type="radio" id="estrela33_lider" name="avaliacao_final_instrutor" value="3">
         <label for="estrela33_lider">★★★</label>
        
         <input type="radio" id="estrela34_lider" name="avaliacao_final_instrutor" value="4">
         <label for="estrela34_lider">★★★★</label>
        
         <input type="radio" id="estrela35_lider" name="avaliacao_final_instrutor" value="5">
         <label for="estrela35_lider">★★★★★</label>
        </div>

       <h2> Observações </h2>
       <textarea name="observacoes"></textarea><br>
      </fieldset>
        
      <p>
       <input type="submit" value= "Enviar" style="margin-right: 30px; width: 100px; height: 30px; font-size: 15px;">
       <input type="button" value="Limpar" style="width: 100px; height: 30px; font-size: 15px;">
      </p>
    </div>
  </form> 

  <form action="{% url 'instrucao:buscar_geral' %}" method="GET">
  <div class="tab">
    <h2>Dados da instrução: Histórico</h2>
    <div class="campos_preenchimento">
      <input type="search" name="buscar" placeholder="Pesquisar..." 
             value="{{ query }}" 
             style="width: 500px; height: 30px; font-size: 15px;">
      <select name="tipo" style="height: 30px; font-size: 15px;">
        <option value="" {% if not tipo %}selected{% endif %}>Todos</option>
        <option value="caminhao" {% if tipo == 'caminhao' %}selected{% endif %}>Caminhão</option>
        <option value="colhedora" {% if tipo == 'colhedora' %}selected{% endif %}>Colhedora</option>
        <option value="trator" {% if tipo == 'trator' %}selected{% endif %}>Trator</option>
        <option value="lider" {% if tipo == 'lider' %}selected{% endif %}>Líder</option>
      </select>
      <input type="submit" value="Busca" style="width: 100px; height: 30px; font-size: 15px;">
    </div>
  </div>
</form>

  <!-- Aba histórico de instrução -->
<form action="{% url 'instrucao:buscar_geral' %}" method="GET">
  <div class="tab">
    <h2>Dados da instrução: Histórico</h2>
    <div class="campos_preenchimento">
      
      <input type="search" name="buscar" placeholder="Pesquisar..." style="width: 500px; height: 30px; font-size: 15px;">
      <input type="submit" value="Busca" style="width: 100px; height: 30px; font-size: 15px;">
    </div>
  </div>
</form>
  
<!--Funcionario-->
{{ funcionario|json_script:"funcionariosData" }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const funcionarios = JSON.parse(
      document.getElementById("funcionariosData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_condutor_caminhao");
    const inputNome = document.getElementById("inome_condutor_caminhao");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = funcionarios[matricula];
      inputNome.value = nome || "";
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const funcionarios = JSON.parse(
      document.getElementById("funcionariosData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_condutor_colhedora");
    const inputNome = document.getElementById("inome_condutor_colhedora");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = funcionarios[matricula];
      inputNome.value = nome || "";
    });
  });


    document.addEventListener("DOMContentLoaded", function () {
    const funcionarios = JSON.parse(
      document.getElementById("funcionariosData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_condutor_trator");
    const inputNome = document.getElementById("inome_condutor_trator");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = funcionarios[matricula];
      inputNome.value = nome || "";
    });
  });

      document.addEventListener("DOMContentLoaded", function () {
    const funcionarios = JSON.parse(
      document.getElementById("funcionariosData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_do_lider");
    const inputNome = document.getElementById("inome_do_lider");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = funcionarios[matricula];
      inputNome.value = nome || "";
    });
  }); 
  
</script>


<!--Instrutor-->
{{ instrutor|json_script:"instrutoresData" }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const instrutores = JSON.parse(
      document.getElementById("instrutoresData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_instrutor_caminhao");
    const inputNome = document.getElementById("inome_instrutor_caminhao");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = instrutores[matricula];
      inputNome.value = nome || "";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instrutores = JSON.parse(
      document.getElementById("instrutoresData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_instrutor_colhedora");
    const inputNome = document.getElementById("inome_instrutor_colhedora");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = instrutores[matricula];
      inputNome.value = nome || "";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instrutores = JSON.parse(
      document.getElementById("instrutoresData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_instrutor_trator");
    const inputNome = document.getElementById("inome_instrutor_trator");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = instrutores[matricula];
      inputNome.value = nome || "";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instrutores = JSON.parse(
      document.getElementById("instrutoresData").textContent
    );

    const inputMatricula = document.getElementById("imatricula_instrutor_lider");
    const inputNome = document.getElementById("inome_instrutor_lider");

    inputMatricula.addEventListener("input", function () {
      const matricula = inputMatricula.value.trim();
      const nome = instrutores[matricula];
      inputNome.value = nome || "";
    });
  });
</script>


<script>
    const tabs = document.querySelectorAll('.tab');
    function showTab(index) {
      tabs.forEach((tab, i) => {
        tab.classList.toggle('active', i === index);
      });
    }
  </script>



</body>
</html>