{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link href="{% static 'css/design.css' %}" rel="stylesheet">
</head>
<body>
{{ funcionarios|json_script:"dados-funcionarios" }}

    <form class="botao_sair" method="post" action="{% url 'instrucao:logout_usuario' %}">
     {% csrf_token %}
     <button type="submit">Encerrar sessão</button>
    </form>

  <div class="cont_principal">

    <div class= "img_logo">
      <a href="{% url 'instrucao:pagina_principal'%}">
      <img src="{% static 'imagens/logo1.png'%}" alt="aralco">
      </a>
    </div>
  
    <div class= "titulo">
     <h1>Formulário de instrução</h1>
    </div>
    
    <div class="tabs">
      <button class="activate" onclick="showTab(0)">Caminhão 🚛</button>
      <button class="activate" onclick="showTab(1)">Colhedora 🚜</button>
      <button class="activate" onclick="showTab(2)">Trator 🚜</button>
      <button class="activate" onclick="showTab(3)">Ranking líder ★</button>
      <button class="activate" onclick="showTab(5)">Processo seletivo 📋</button>
      <button class="activate" onclick="showTab(4)">Histórico de instrução 📋</button>
    </div>
      
   <!-- Aba Caminhão --> 
    <form method="POST" action="{% url 'instrucao:coletar_dados_caminhao_forms' %}">
        {% csrf_token %}
        <div class="tab">
      <h2> Dados da instrução: Caminhão</h2>
    <fieldset>
      <div class= "campos_preenchimento">
      <label for="idata_caminhao"> Data:</label>
      <input type="date" name="data_caminhao" id="idata_caminhao">

      <label for="ihora_caminhao"> Hora:</label>
      <input type="time" name="hora_caminhao" id="ihora_caminhao">
      
      <label for="imatricula_instrutor_caminhao"> Matrícula do instrutor:</label> 
      <input type= "number" name = "matricula_instrutor_caminhao" id= "imatricula_instrutor_caminhao"/>

      <label for="inome_instrutor_caminhao"> Nome do instrutor:</label>
      <input type= "text" name = "nome_instrutor_caminhao" id= "inome_instrutor_caminhao"/>

      <label for="imatricula_condutor_caminhao"> Matrícula do condutor:</label>
      <input type= "number" name = "matricula_condutor_caminhao" id= "imatricula_condutor_caminhao"/>

      <label for="inome_condutor_caminhao"> Nome do condutor: </label>
      <input type= "text" name = "nome_condutor_caminhao" id= "inome_condutor_caminhao"/>

      <label for="iequipamento_caminhao"> Equipamento: </label>
      <input type = "number" name = "equipamento_caminhao" id= "iequipamento_caminhao"/>

      <label for="ilocal_saida_caminhao"> Local de saída: </label>
      <input type= "text" name = "local_saida_caminhao" id= "ilocal_saida_caminhao"/>

      <label for="ihora_saida_caminhao"> Hora da saída: </label>
      <input type= "time" name = "hora_saida_caminhao" id= "ihora_saida_caminhao"/>

      <label for="ikm_saida_caminhao"> Km da saída: </label>
      <input type= "number" name = "km_saida_caminhao" id= "ikm_saida_caminhao" step="0.01"/>

      <label for="ilocal_chegada_caminhao"> Local de chegada: </label>
      <input type= "text" name = "local_chegada_caminhao" id= "ilocal_chegada_caminhao"/>

      <label for="ihora_chegada_caminhao"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_caminhao" id= "ihora_chegada_caminhao"/>

      <label for="ikm_chegada_caminhao"> Km  da chegada: </label>
      <input type= "number" name = "km_chegada_caminhao" id= "ikm_chegada_caminhao"  step="0.01"/>

    <div class="select_carga">
      <label for="iviagem_caminhao">Viagem:</label>
      <select name="viagem_caminhao" id="iviagem_caminhao">
        <option value="nao_utilizado">Não utilizado</option>
        <option value="vazio">Vazio</option>
        <option value="cheio">Cheio</option>
      </select>
    </div>

      <label for="imedia_caminhao"> Média: </label>
      <input type= "number" name = "media_caminhao" id= "imedia_caminhao" step="0.01"/> 
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Operador mantenedor:</legend>
        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "iruim_opm_caminhao" value = "ruim"> 
        <label for = "iruim_opm_caminhao"> Ruim 😓</label>

        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "ibom_opm_caminhao" value = "bom"> 
        <label for = "ibom_opm_caminhao"> Bom ☺️</label>

        <input type = "radio" name = "avaliacao_op_mantenedor_caminhao" id= "iotimo_opm_camihao" value = "otimo"> 
        <label for = "iotimo_opm_camihao"> Ótimo 😁</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Digitação de bordo: </legend>
        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "iruim_digitacao_bordo_caminhao" value = "ruim"> 
        <label for = "iruim_digitacao_bordo_caminhao"> Ruim 😓</label>

        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "ibom_digitacao_bordo_caminhao" value = "bom"> 
        <label for = "ibom_digitacao_bordo_caminhao"> Bom ☺️</label>

        <input type = "radio" name = "avaliacao_digitacao_bordo_caminhao" id= "iotimo_digitacao_bordo_caminhao" value = "otimo"> 
        <label for = "iotimo_digitacao_bordo_caminhao"> Ótimo 😁</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Ações autorizadas:</legend>
        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "iruim_acoes_autorizadas_caminhao" value = "ruim"/> 
        <label for = "iruim_acoes_autorizadas_caminhao"> Ruim 😓</label>

        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "ibom_acoes_autorizadas_caminhao" value = "bom"/> 
        <label for = "ibom_acoes_autorizadas_caminhao"> Bom ☺️</label>

        <input type = "radio" name = "acoes_autorizadas_caminhao" id= "iotimo_acoes_autorizadas_caminhao" value = "otimo"/> 
        <label for = "iotimo_acoes_autorizadas_caminhao"> Ótimo 😁</label>
      </div>
      
      <div class= "pos_avl">
        <legend class="alinhamento_avl">Operação:</legend>
        <input type = "radio" name = "operacao_caminhao" id= "iruim_operacao_caminhao" value = "ruim"/> 
        <label for = "iruim_operacao_caminhao"> Ruim 😓  </label>

        <input type = "radio" name = "operacao_caminhao" id= "ibom_operacao_caminhao" value = "bom"/> 
        <label for = "ibom_operacao_caminhao"> Bom ☺️  </label>

        <input type = "radio" name = "operacao_caminhao" id= "iotimo_operacao_caminhao" value = "otimo"/> 
        <label for = "iotimo_operacao_caminhao"> Ótimo 😁</label>
      </div>
             
    <div class="avaliacao_bloco">
      <label>Avaliação do instrutor:</label>
      <div class="stars" data-target="iavaliacao_caminhao">
      <span class="star" data-value="1">&#9733;</span>
      <span class="star" data-value="2">&#9733;</span>
      <span class="star" data-value="3">&#9733;</span>
      <span class="star" data-value="4">&#9733;</span>
      <span class="star" data-value="5">&#9733;</span>
    </div>
     <input type="hidden" name="avaliacao_caminhao" id="iavaliacao_caminhao" value="0">
  </div>

         
       <h2> Observações: </h2>
       <label for="iobsevacoes"></label>
       <textarea id="iobservacoes" name="observacoes"></textarea><br>
      
    </fieldset>

            <div class="botoes_env_limp">
              <button type="submit">Enviar</button>
              <button type="reset">Limpar</button>
            </div>
          
        </div>
    </form> 
  
    <!-- Aba colhedora -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_colhedora_forms' %}">
        {% csrf_token%}
    <div class="tab">
      <h2>Dados da instrução: Colhedora</h2>
    <fieldset>
       <div class= "campos_preenchimento">
      <label for="idata_colhedora"> Data:</label>
      <input type="date" name="data_colhedora" id= "idata_colhedora">

      <label for="ihora_colhedora"> Hora:</label>
      <input type="time" name="hora_colhedora" id="ihora_colhedora">

      <label for="imatricula_instrutor_colhedora"> Matrícula do instrutor: </label> 
      <input type= "number" name = "matricula_instrutor_colhedora" id= "imatricula_instrutor_colhedora"/>
      
      <label for="inome_instrutor_colhedora"> Nome do instrutor: </label> 
      <input type= "text" name = "nome_instrutor_colhedora" id= "inome_instrutor_colhedora"/>
      
      <label for="imatricula_condutor_colhedora"> Matrícula do condutor: </label>
      <input type= "number" name = "matricula_condutor_colhedora" id= "imatricula_condutor_colhedora"/>

      <label for="inome_condutor_colhedora"> Nome do condutor: </label> 
      <input type= "text" name ="nome_condutor_colhedora" id= "inome_condutor_colhedora"/>
      
      <label for="iequipamento_colhedora"> Equipamento: </label> 
      <input type="number" name="equipamento_colhedora" id="iequipamento_colhedora"/>

      <label for="ihora_saida_colhedora"> Hora da saída: </label>
      <input type="time" name="hora_saida_colhedora" id="ihora_saida_colhedora"/>

      <label for="ihora_chegada_colhedora"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_colhedora" id= "ihora_chegada_colhedora"/>

      <label for="ihorimetro_inicial_colhedora"> Horímetro inicial: </label>
      <input type="number" step="any" name="horimetro_inicial_colhedora" id="ihorimetro_inicial_colhedora"/>

      <label for="ihorimetro_final_colhedora"> Horímetro final: </label>
      <input type="number" step="any" name="horimetro_final_colhedora" id="ihorimetro_final_colhedora"/>

      <label for="ifrente_colhedora"> Frente: </label>
      <input type="number" name="frente_colhedora" id="ifrente_colhedora"/>
      </div>
        
    <div class="avaliacao_bloco">
       <label>Operador mantenedor:</label>
      <div class="stars" data-target="iavaliacao_operacao_mantendedor_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_operacao_mantendedor_colhedora" id="iavaliacao_operacao_mantendedor_colhedora" value="0"/>
    </div>

    <div class="avaliacao_bloco">
       <label>Digitação de bordo:</label>
       <div class="stars" data-target="iavaliacao_digitacao_bordo_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_digitacao_bordo_colhedora" id="iavaliacao_digitacao_bordo_colhedora" value="0"/>
    </div>
        
    <div class="avaliacao_bloco">
       <label>Ações autorizadas:</label>
       <div class="stars" data-target="iavaliacao_acoes_autorizadas_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_acoes_autorizadas_colhedora" id="iavaliacao_acoes_autorizadas_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Operação:</label>
      <div class="stars" data-target="iavaliacao_operacao_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_operacao_colhedora" id="iavaliacao_operacao_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Pressão do corte base:</label>
      <div class="stars" data-target="iavaliacao_pressao_corte_base_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_pressao_corte_base_colhedora" id="iavaliacao_pressao_corte_base_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Pressão do picador:</label>
      <div class="stars" data-target="iavaliacao_pressao_picador_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_pressao_picador_colhedora" id="iavaliacao_pressao_picador_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Configuração (CB central):</label>
      <div class="stars" data-target="iavaliacao_configuracao_cb_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_configuracao_cb_colhedora" id="iavaliacao_configuracao_cb_colhedora" value="0"/>
    </div>

    <div class="avaliacao_bloco">
       <label>Sincronismo transbordo:</label>
      <div class="stars" data-target="iavaliacao_sincronismo_transbordo_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_sincronismo_transbordo_colhedora" id="iavaliacao_sincronismo_transbordo_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Velocidade constante:</label>
      <div class="stars" data-target="iavaliacao_velocidade_constante_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_velocidade_constante_colhedora" id="iavaliacao_velocidade_constante_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Utilização de tecnologia:</label>
       <div class="stars" data-target="iavaliacao_utilizacao_tecnologia_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_utilizacao_tecnologia_colhedora" id="iavaliacao_utilizacao_tecnologia_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Senso de dono:</label>
       <div class="stars" data-target="iavaliacao_senso_de_dono_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
     <input type="hidden" name="avaliacao_senso_de_dono_colhedora" id="iavaliacao_senso_de_dono_colhedora" value="0"/>
    </div>


    <div class="avaliacao_bloco">
       <label>Avaliação geral do instrutor:</label>
      <div class="stars" data-target="iavaliacao_geral_instrutor_colhedora">
       <span class="star" data-value="1">&#9733;</span>
       <span class="star" data-value="2">&#9733;</span>
       <span class="star" data-value="3">&#9733;</span>
       <span class="star" data-value="4">&#9733;</span>
       <span class="star" data-value="5">&#9733;</span>
      </div>
        <input type="hidden" name="avaliacao_geral_instrutor_colhedora" id="iavaliacao_geral_instrutor_colhedora" value="0"/>
    </div>

       <h2> Observações: </h2>
       <label for="iobsevacoes"></label>
       <textarea id="iobservacoes" name="observacoes"></textarea><br>

      </fieldset>

            <div class="botoes_env_limp">
              <button type="submit">Enviar</button>
              <button type="reset">Limpar</button>
            </div>
          </div>
    </form>

    
    
    <!-- Aba trator -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_trator_forms' %}">
        {% csrf_token %}
    <div class="tab">
      <h2>Dados da instrução: Trator</h2>

      <fieldset>
        <div class= "campos_preenchimento">
      <label for="idata_trator">Data:</label>
      <input type="date" name="data_trator" id="idata_trator">

      <label for="ihora_trator">Hora:</label>
      <input type="time" name="hora_trator" id="ihora_trator">

      <label for="imatricula_instrutor_trator"> Matrícula do instrutor:</label>
      <input type= "number" name = "matricula_instrutor_trator" id= "imatricula_instrutor_trator"/>

      <label for="inome_instrutor_trator">Nome do instrutor: </label>
      <input type= "text" name = "nome_instrutor_trator" id= "inome_instrutor_trator"/>
      
      <label for="imatricula_condutor_trator">Matrícula do condutor: </label>
      <input type= "number" name = "matricula_condutor_trator" id= "imatricula_condutor_trator"/>
      
      <label for="inome_condutor_trator"> Nome do condutor: </label>
      <input type= "text" name = "nome_condutor_trator" id= "inome_condutor_trator"/>
       
      <label for="iequipamento_trator"> Equipamento: </label>
      <input type = "number" name = "equipamento_trator" id= "iequipamento_trator"/>
      
      <label for="ilocal_saida_trator"> Local de saída: </label>
      <input type= "text" name = "local_saida_trator" id= "ilocal_saida_trator"/>
      
      <label for="ihora_saida_trator"> Hora da saída: </label>
      <input type= "time" name = "hora_saida_trator" id= "ihora_saida_trator"/>
      
      <label for="ilocal_chegada_trator"> Local de chegada:</label> 
      <input type= "text" name = "local_chegada_trator" id= "ilocal_chegada_trator"/>

      <label for="ihora_chegada_trator"> Hora da chegada: </label>
      <input type= "time" name = "hora_chegada_trator" id= "ihora_chegada_trator"/>

      <label for="ihorimetro_inicial_trator"> Horímetro inicial: </label>
      <input type= "number" name= "horimetro_inicial_trator" id= "ihorimetro_inicial_trator"/>

      <label for="ihorimetro_final_trator"> Horímetro final: </label> 
      <input type = "number" name = "horimetro_final_trator" id= "ihorimetro_final_trator"/>

      <label for="ifrente_trator"> Frente: </label> 
      <input type = "number" name = "frente_trator" id= "ifrente_trator"/>

      
      </div> 

      <div class="avaliacao_bloco">
         <label>Operador mantenedor:</label>
         <div class="stars" data-target="iavaliacao_operador_mantenedor_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_operador_mantendedor_trator" id="iavaliacao_operador_mantenedor_trator" value="0"/>
      </div>

    <div class="avaliacao_bloco">
         <label>Digitação de bordo:</label>
      <div class="stars" data-target="iavaliacao_digitacao_bordo_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_digitacao_bordo_trator" id="iavaliacao_digitacao_bordo_trator" value="0"/>
      </div>


    <div class="avaliacao_bloco">
         <label>Ações autorizadas:</label>
      <div class="stars" data-target="iavaliacao_acoes_autorizadas_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_acoes_autorizadas_trator" id="iavaliacao_acoes_autorizadas_trator" value="0"/>
    </div>

        
    <div class="avaliacao_bloco">
         <label>Operação:</label>
      <div class="stars" data-target="iavaliacao_operacao_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_operacao_trator" id="iavaliacao_operacao_trator" value="0"/>
      </div>
        
        
      <div class="avaliacao_bloco">
         <label>Avaliação do instrutor:</label>
        <div class="stars" data-target="iavaliacao_instrutor_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_instrutor_trator" id="iavaliacao_instrutor_trator" value="0"/>
      </div>

        
      <div class="avaliacao_bloco">
         <label>Rotações:</label>
        <div class="stars" data-target="iavaliacao_rotacoes_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_rotacoes_trator" id="iavaliacao_rotacoes_trator" value="0"/>
      </div>
  

      <div class="avaliacao_bloco">
         <label>Senso de dono:</label>
       <div class="stars" data-target="iavaliacao_senso_dono_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_senso_dono_trator" id="iavaliacao_senso_dono_trator" value="0"/>
      </div>

      
    <div class="avaliacao_bloco">
         <label>Troca de marcha:</label>
      <div class="stars" data-target="iavaliacao_troca_marcha_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_troca_marcha_trator" id="iavaliacao_troca_marcha_trator" value="0"/>
      </div>

        
      <div class="avaliacao_bloco">
         <label>Troca de embreagem:</label>
        <div class="stars" data-target="iavaliacao_troca_embreagem_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_troca_embreagem_trator" id="iavaliacao_troca_embreagem_trator" value="0"/>
      </div>

        
      <div class="avaliacao_bloco">
         <label>Velocidade constante:</label>
        <div class="stars" data-target="iavaliacao_velocidade_constante_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_velocidade_constante_trator" id="iavaliacao_velocidade_constante_trator" value="0"/>
      </div>

        
      <div class="avaliacao_bloco">
         <label>Sincronismo da colhedora:</label>
       <div class="stars" data-target="iavaliacao_sincronismo_colheora_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
     <input type="hidden" name="avaliacao_sincronismo_colheora_trator" id="iavaliacao_sincronismo_colheora_trator" value="0"/>
      </div>

        
    <div class="avaliacao_bloco">
         <label>Paralelismo:</label>
       <div class="stars" data-target="iavaliacao_paralelismo_trator">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
        <input type="hidden" name="avaliacao_paralelismo_trator" id="iavaliacao_paralelismo_trator" value="0"/>
      </div>

           <h2> Observações: </h2>
           <label for="iobsevacoes"></label>
           <textarea id="iobservacoes" name="observacoes"></textarea><br>
        </fieldset>

          <div class="botoes_env_limp">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
          </div>
    </div>
    </form>

    <!-- Aba lider -->
    <form method="POST" action="{% url 'instrucao:coletar_dados_lider_forms' %}">
        {% csrf_token %}
      <div class="tab">
      <h2>Dados de instrução: Ranking Líder</h2>
      <fieldset>
        <div class= "campos_preenchimento">
      <label for="idata_lider"> Data:</label>
      <input type="date" name="data_lider" id="idata_lider">

      <label for"ihora_lider"> Hora:</label>
      <input type="time" name="hora_lider" id="ihora_lider">

      <label for="imatricula_instrutor_lider"> Matrícula do instrutor: </label>
      <input type= "number" name = "matricula_instrutor_lider" id= "imatricula_instrutor_lider"/>

      <label for="inome_instrutor_lider"> Nome do instrutor: </label>
      <input type= "text" name = "nome_instrutor_lider" id= "inome_instrutor_lider"/>

      <label for="matricula_do_lider"> Matrícula do líder: </label>
      <input type= "number" name = "matricula_do_lider" id= "imatricula_do_lider"/>

      <label for="inome_do_lider"> Nome do líder:</label>
      <input type= "text" name = "nome_do_lider" id= "inome_do_lider"/>

      <label for="ifrente_lider"> Frente:</label>
      <input type= "number" name = "frente_lider" id= "ifrente_lider"/>

      <label for="ifazenda_lider"> Fazenda: </label>
      <input type= "text" name = "fazenda_lider" id= "ifazenda_lider"/>

      <label for="iunidade_lider"> Unidade: </label>
      <input type= "text" name = "unidade_lider" id= "iunidade_lider"/>
      </div>

        <div class="avaliacao_bloco">
         <label>Organização da área de transbordamento:</label>
         <div class="stars" data-target="iavaliacao_organizacao_area_trasnbordamento_lider">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
        <input type="hidden" name="avaliacao_organizacao_area_trasnbordamento_lider" id="iavaliacao_organizacao_area_trasnbordamento_lider" value="0"/>
      </div>


      <div class="avaliacao_bloco">
         <label>Abertura de aceiros - distribuição das colhedoras:</label>
        <div class="stars" data-target="iavaliacao_abertura_aceiros_lider">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>

        <input type="hidden" name="avaliacao_abertura_aceiros_lider" id="iavaliacao_abertura_aceiros_lider" value="0"/>
         

      <div class="avaliacao_bloco">
         <label>Produção - Tempo de carregamento por metros lineares:</label>
       <div class="stars" data-target="iavaliacao_tempo_carregamento_metros_lineares_lider">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>

        <input type="hidden" name="avaliacao_tempo_carregamento_metros_lineares_lider" id="iavaliacao_tempo_carregamento_metros_lineares_lider" value="0"/>
      
        
      <div class="avaliacao_blco">
         <label>Qualidade de colheita - Vegetal - Mineral - Altura do corte:</label>
        <div class="stars" data-target="iavaliacao_qualidade_colheita_lider"> 
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>

        <input type="hidden" name="avaliacao_qualidade_colheita_lider" id="iavaliacao_qualidade_colheita_lider" value="0"/>
      
             
      <div class="avaliacao_bloco">
         <label>Aproveitamento do tempo da colhedora:</label>
        <div class="stars" data-target="iavaliacao_aproveitamento_tempo_colhedora">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>

        <input type="hidden" name="avaliacao_aproveitamento_tempo_colhedora" id="iavaliacao_aproveitamento_tempo_colhedora" value="0"/>

        
      <div class="avaliacao_bloco">
         <label>Liderança com equipe:</label>
        <div class="stars" data-target="iavaliacao_lideranca_equipe">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
        <input type="hidden" name="avaliacao_lideranca_equipe" id="iavaliacao_lideranca_equipe" value="0"/>
      </div>

      
    <div class="avaliacao_bloco">
         <label>Avaliação final do instrutor:</label>
      <div class="stars" data-target="iavaliacao_final_instrutor">
         <span class="star" data-value="1">&#9733;</span>
         <span class="star" data-value="2">&#9733;</span>
         <span class="star" data-value="3">&#9733;</span>
         <span class="star" data-value="4">&#9733;</span>
         <span class="star" data-value="5">&#9733;</span>
        </div>
        <input type="hidden" name="avaliacao_final_instrutor" id="iavaliacao_final_instrutor" value="0"/>
      </div>

       <h2> Observações: </h2>
       <label for="iobsevacoes"></label>
       <textarea id="iobservacoes" name="observacoes"></textarea><br>
      </fieldset>
        
      <div class="botoes_env_limp">
        <button type="submit">Enviar</button>
        <button type="reset">Limpar</button>
       </div>
     </div>
    </form>
  
   <!-- Aba histórico de instrução -->
    <form action="{% url 'instrucao:buscar_geral' %}" method="GET">
     <div class="tab">
     <h2>Histórico de instruções</h2>
    
     <fieldset>
      <div class="campos_busca">
       <input type="search" name="buscar" placeholder="Pesquisar..." 
             value="{{ query }}">
        <select name="tipo">
          <option value="" {% if not tipo %}selected{% endif %}>Todos</option>
          <option value="caminhao" {% if tipo == 'caminhao' %}selected{% endif %}>Caminhão</option>
          <option value="colhedora" {% if tipo == 'colhedora' %}selected{% endif %}>Colhedora</option>
          <option value="trator" {% if tipo == 'trator' %}selected{% endif %}>Trator</option>
          <option value="lider" {% if tipo == 'lider' %}selected{% endif %}>Líder</option>
          <option value="processo" {% if tipo == 'processo' %}selected{% endif %}>Processo seletivo</option>
        </select>
      </div>

      <div class="botao_buscar">
        <button type="submit">Buscar</button>
      </div>
     </fieldset>
      </div>
    </form>

  <!-- Aba Testes --> 
<form method="POST" action="{% url 'instrucao:coletar_dados_processo_seletivo_forms' %}">
        {% csrf_token %}
      <div class="tab">
        <h2>Processo seletivo: Teste</h2>
      <fieldset>
        <div class= "campos_preenchimento">
         <label for="idata_teste"> Data:</label>
         <input type="date" name="data_teste" id= "idata_teste">

         <label for="ihora_teste"> Hora:</label>
         <input type="time" name="hora_teste" id="ihora_teste">

         <label for="imatricula_instrutor_teste"> Matrícula do instrutor: </label> 
         <input type= "number" name = "matricula_instrutor_teste" id= "imatricula_instrutor_teste"/>

         <label for="inome_instrutor_teste"> Nome do instrutor: </label> 
         <input type= "text" name = "nome_instrutor_teste" id= "inome_instrutor_teste"/>

         <label for="inome_pessoa_teste"> Nome da pessoa em teste: </label>
         <input type="text" name = "nome_pessoa_teste" id="inome_pessoa_teste"/>

        <div class="select_carga">
          <label for="itipo_veiculo_teste">Veículo:</label>
        <select name="tipo_veiculo_teste" id="itipo_veiculo_teste">
          <option value="veiculo">Veículo</option>
          <option value="caminhao">Caminhão</option>
          <option value="colhedora">Colhedora</option>
          <option value="trator">Trator</option>
        </select>
        </div>

         <label for="ihora_inicio_teste"> Horário de inicio </label>
         <input type= "time" name = "hora_inicio_teste" id= "ihora_inicio_teste"/>

         <label for="ihora_final_teste"> Horário de término </label>
         <input type= "time" name = "hora_final_teste" id= "ihora_final_teste"/>
        </div>

        <div class= "pos_avl">
         <legend class="alinhamento_avl">Resultado do teste</legend>
         <input type="radio" id="iaprovado_teste" name="resultado_teste" value="Aprovado">
         <label for="iaprovado_teste">Aprovado</label>
        
         <input type="radio" id="ireprovado_teste" name="resultado_teste" value="Reprovado">
         <label for="ireprovado_teste">Reprovado</label>
        </div>

        <h2> Observações: </h2>
       <label for="iobsevacoes"></label>
       <textarea id="iobservacoes" name="observacoes"></textarea>
      </fieldset>

      <div class="botoes_env_limp">
        <button type="submit">Enviar</button>
        <button type="reset">Limpar</button>
      </div>
  </div>

</form>


<script>
    const tabs = document.querySelectorAll('.tab');
    function showTab(index) {
      tabs.forEach((tab, i) => {
        tab.classList.toggle('active', i === index);
      });
    }
</script>

<script>
  const buttons = document.querySelectorAll('.tabs button');

  buttons.forEach(button => {
  button.addEventListener('click', () => {
    buttons.forEach(btn => btn.classList.remove('active'));
    button.classList.add('active'); 
  });
});
</script>

<script>
  function setupAutocomplete(matriculaId, nomeId) {
    const inputMatricula = document.getElementById(matriculaId);
    const inputNome = document.getElementById(nomeId);

    inputMatricula.addEventListener('input', () => {
      const termo = inputMatricula.value.trim();
      if (termo.length < 2) {
        inputNome.value = '';
        return;
      }

      fetch(`/instrucao/buscar-funcionarios/?q=${encodeURIComponent(termo)}`)
        .then(res => res.json())
        .then(data => {
          if (data.length === 1) {
            inputNome.value = data[0].nome;
          } else {
            inputNome.value = '';
          }
        })
        .catch(() => {
          inputNome.value = '';
        });
    });
  }

  // Chamadas de autocomplete para os campos específicos
  setupAutocomplete('imatricula_instrutor_caminhao', 'inome_instrutor_caminhao');
  setupAutocomplete('imatricula_condutor_caminhao', 'inome_condutor_caminhao');

  setupAutocomplete('imatricula_instrutor_colhedora', 'inome_instrutor_colhedora');
  setupAutocomplete('imatricula_condutor_colhedora', 'inome_condutor_colhedora');

  setupAutocomplete('imatricula_instrutor_trator', 'inome_instrutor_trator');
  setupAutocomplete('imatricula_condutor_trator', 'inome_condutor_trator');

  setupAutocomplete('imatricula_instrutor_lider', 'inome_instrutor_lider');
  setupAutocomplete('imatricula_do_lider', 'inome_do_lider');

  setupAutocomplete('imatricula_instrutor_teste', 'inome_instrutor_teste');
</script>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const now = new Date(); 

    const dataFormatada = now.toISOString().split('T')[0];

    const horas = now.getHours().toString().padStart(2, '0');
    const minutos = now.getMinutes().toString().padStart(2, '0');
    const horaFormatada = `${horas}:${minutos}`;

    function veriValor(id, valor) {
      const elemento = document.getElementById(id);
      if (elemento) elemento.value = valor;
    }

    // Lista final de campos a preencher
    ['idata_caminhao', 'idata_colhedora', 'idata_trator', 'idata_lider', 'idata_seletivo', 'idata_teste'].forEach(id => {
      veriValor(id, dataFormatada);
    });

    ['ihora_caminhao', 'ihora_colhedora', 'ihora_trator', 'ihora_lider', 'ihora_seletivo', 'ihora_teste'].forEach(id => {
      veriValor(id, horaFormatada);
    });
  });
</script>

 
<script>
  // Para cada grupo de estrelas:
  document.querySelectorAll('.stars').forEach(group => {
    const targetInputId = group.getAttribute('data-target');
    const hiddenInput = document.getElementById(targetInputId);
    const stars = group.querySelectorAll('.star');

    stars.forEach((star, index) => {
      star.addEventListener('click', () => {
        const value = index + 1;

        // Atualiza visual apenas neste grupo
        stars.forEach((s, i) => {
          s.classList.toggle('selected', i < value);
        });

        // Atualiza o input escondido correspondente
        hiddenInput.value = value;
      });
    });
  });
</script>

 
</body>
</html>