{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/design_resultado_busca.css' %}" rel="stylesheet">
    <title>Resultados da Busca</title>
    
    <style>

    </style>
</head>
<body>

    <div class= "img_logo">
     <img src="{% static 'imagens/logo1.png'%}" alt="aralco">
    </div>

    <h2>Resultados para "{{ query }}"</h2>

    {% if caminhao_resultados %}
    <h2>Caminhão</h2>
    
    {% for item in caminhao_resultados %}

    <div class="tabela-responsiva">
    <table border="5" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Matrícula do Instrutor</th>
                    <th>Nome do Instrutor</th>
                    <th>Matrícula do Condutor</th>
                    <th>Nome do Condutor</th>
                    <th>Equipamento</th>
                    <th>Local de saída</th>
                    <th>Hora de saída</th>
                    <th>Km de saída</th>
                    <th>Local de chegada</th>
                    <th>Hora de chegada</th>
                    <th>Km de chegada</th>
                    <th>Viagem</th>
                    <th>Média</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>{{ item.data_caminhao }}</td>
                        <td>{{ item.hora_caminhao }}</td>
                        <td>{{ item.matricula_instrutor_caminhao }}</td>
                        <td>{{ item.nome_instrutor_caminhao }}</td>
                        <td>{{ item.matricula_condutor_caminhao }}</td>
                        <td>{{ item.nome_condutor_caminhao }}</td>
                        <td>{{ item.equipamento_caminhao }}</td>
                        <td>{{ item.local_saida_caminhao}}</td>
                        <td>{{ item.hora_saida_caminhao}}</td>
                        <td>{{ item.km_saida_caminhao}}</td>
                        <td>{{ item.local_chegada_caminhao}}</td>
                        <td>{{ item.hora_chegada_caminhao}}</td>
                        <td>{{ item.km_chegada_caminhao}}</td>
                        <td>{{ item.viagem_caminhao}}</td>
                        <td>{{ item.media_caminhao}}</td>
                        <td>
                            {% if user.is_staff %}
                                <a href="{% url 'instrucao:editar_caminhao' item.id_caminhao %}" class="botao-editar">Editar</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>c
{% endif %}
    </div>

    {% if colhedora_resultados %}
    <h2>Colhedora</h2>
    <table border="5" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Matrícula do instrutor</th>
                    <th>Nome do instrutor</th>
                    <th>Matrícula do condutor</th>
                    <th>Nome do condutor</th>
                    <th>Equipamento</th>
                    <th>Hora de saída</th>
                    <th>Hora de chegada</th>
                    <th>Horímetro inicial</th>
                    <th>Horímetro final</th>
                    <th>Frente</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                {% for item in colhedora_resultados %}
                    <tr>
                        <td>{{ item.data_colhedora }}</td>
                        <td>{{ item.hora_colhedora }}</td>
                        <td>{{ item.matricula_instrutor_colhedora }}</td>
                        <td>{{ item.nome_instrutor_colhedora }}</td>
                        <td>{{ item.matricula_condutor_colhedora }}</td>
                        <td>{{ item.nome_condutor_colhedora }}</td>
                        <td>{{ item.equipamento_colhedora }}</td>
                        <td>{{ item.hora_saida_colhedora }}</td>
                        <td>{{ item.hora_chegada_colhedora }}</td>
                        <td>{{ item.horimetro_inicial_colhedora }}</td>
                        <td>{{ item.horimtro_final_colhedora }}</td>
                        <td>{{ item.frente_colhedora}}
                        <td>
                            {% if user.is_staff %}
                                <a href="{% url 'instrucao:editar_colhedora' item.id_colhedora %}" class="botao-editar">Editar</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}


    {% if trator_resultados %}
        <h2>Trator</h2>
        <table border="5" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Matrícula Instrutor</th>
                    <th>Nome Instrutor</th>
                    <th>Matrícula Condutor</th>
                    <th>Nome Condutor</th>
                    <th>Equipamento</th>
                    <th>Local de saída</th>
                    <th>Hora de saída</th>
                    <th>Local de chegada</th>
                    <th>Hora de chegada</th>
                    <th>Horímetro inicial</th>
                    <th>Horímetro final</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                {% for item in trator_resultados %}
                    <tr>
                        <td>{{ item.data_trator }}</td>
                        <td>{{ item.hora_trator }}</td>
                        <td>{{ item.matricula_instrutor_trator }}</td>
                        <td>{{ item.nome_instrutor_trator }}</td>
                        <td>{{ item.matricula_condutor_trator }}</td>
                        <td>{{ item.nome_condutor_trator }}</td>
                        <td>{{ item.equipamento_trator }}</td>
                        <td>{{ item.local_saida_trator }}</td>
                        <td>{{ item.hora_saida_trator }}</td>
                        <td>{{ item.local_chegada_trator }}</td>
                        <td>{{ item.hora_chegada_trator }}</td>
                        <td>{{ item.horimetro_inicial_trator }}</td>
                        <td>{{ item.horimetro_final_trator }}</td>
                        <td>
                            {% if user.is_staff %}
                                <a href="{% url 'instrucao:editar_trator' item.id_trator %}" class="botao-editar">Editar</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>                   
                     </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}

    {% if lider_resultados %}
        <h2>Líder</h2>
        <table border="5" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Matrícula do Instrutor</th>
                    <th>Nome do Instrutor</th>
                    <th>Matrícula do líder</th>
                    <th>Nome do líder</th>
                    <th>Frente</th>
                    <th>Fazenda</th>
                    <th>Unidade</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                {% for item in lider_resultados %}
                    <tr>
                        <td>{{ item.data_lider }}</td>
                        <td>{{ item.hora_lider }}</td>
                        <td>{{ item.matricula_instrutor_lider }}</td>
                        <td>{{ item.nome_instrutor_lider }}</td>
                        <td>{{ item.matricula_do_lider }}</td>
                        <td>{{ item.nome_do_lider }}</td>
                        <td>{{ item.frente_lider }}</td>
                        <td>{{ item.fazenda_lider }}</td>
                        <td>{{ item.unidade_lider }}</td>
                        <td>
                            {% if user.is_staff %}
                                <a href="{% url 'instrucao:editar_lider' item.id_lider %}" class="botao-editar">Editar</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}

    {% if not caminhao_resultados and not trator_resultados and not colhedora_resultados and not lider_resultados %}
        <p class="sem-resultado">Nenhum resultado encontrado.</p>
    {% endif %}

</body>
</html>